<h2 data-ke-size="size26"><b>{{title}}</b></h2>
<p><img style="display: block;" src="{{imgUrl}}" alt="" width="100%" /></p>
<p style="text-align: center;" data-ke-size="size14"><a href="{{url}}" target="_blank" rel="noopener">출저(네이버)</a></p>
<h2 style="color: #000000; text-align: start;" data-ke-size="size26">{{content}}<span style="color: #000000; text-align: start;"></span><span style="color: #000000; text-align: start;"></span></h2>
<p data-ke-size="size14"><span style="color: #000000; text-align: start;">=========================================================================================================</span></p>
<br/>